apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "website-webhook.fullname" . }}-config
  labels:
    {{- include "website-webhook.labels" . | nindent 4 }}
data:
  config.yaml: |-
    schedule: "{{ .Values.job.schedule }}"
    executeOnStartUp: {{ .Values.job.executeOnStartUp | default true }}
    enableJavaScript: {{ .Values.enableJavaScript | default false }}
    url: "{{ .Values.url }}"
    callback:
      url: "{{ .Values.callback.url }}"
      method: "{{ .Values.callback.method | default "POST" }}"
      timeout: "{{ .Values.callback.timeout | default "24s" }}"
      maxRetries: {{ .Values.callback.maxRetries | default 0 }}
      headers:
        {{- toYaml .Values.callback.headers | nindent 8 }}
      body:
        {{- toYaml .Values.callback.body | nindent 8 }}
    commands:
      {{- with .Values.commands }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
